main{
    height: 1600px;
}

article {
   display: inline;
    float: right;
    max-width: 60%;
}
main aside {
   display: inline;
    float: left;
    max-width: 40%;
   
 }

 aside img{
   display: inline-block;
   text-align: center;
   margin: 2em 0 0 2em;
   border: 1px solid rgba(100, 178, 237, 0);
   border-radius: 10px;
   max-width: 90%;
   height: auto;
 } 

 section {
   display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid rgb(157, 199, 199);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
 }

 h2 {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
 }
 h4 {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
 }

 p {
    text-align: justify;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.5em;
    font-size: large;
 }

 ol li{
    list-style-position: inside;
    padding-left: 10px;
    font-size: large;
    padding-left: 10px;
 }

